<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
    <body>
        <p>Welcome home!</p>
        <form action="#" method="post" th:action="@{/create}">
            <input type="submit" value="Create new survey"/>
        </form>
        <table>
            <tr th:each="survey: ${surveys}">
                <td><a
                        th:href="@{/create/{id}(id=${survey.getId()})}"
                        th:text="|${survey.getTitle()} (${#strings.toLowerCase(survey.getState())})|"
                ></a></td>
            </tr>
        </table>
    </body>
</html>