<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link href="/css/style.css" media="all" rel="stylesheet"
              th:href="@{/css/style.css}" type="text/css">
    </head>
    <body>
        <p>Welcome home!</p>

        <!--Create new survey button-->
        <form action="#" method="post" th:action="@{/create}">
            <input type="submit" value="Create new survey"/>
        </form>

        <!--Dashboard to view all surveys-->
        <h1>My Surveys</h1>
        <table>
            <tr>
                <td>TITLE</td>
                <td>STATUS</td>
            </tr>
            <tr th:each="survey: ${surveys}">
                <td>
                    <div th:switch="${survey.getState().toString()}">
                        <a th:case="'DRAFT'"
                           th:href="@{/create/{id}(id=${survey.getId()})}"
                           th:text="|${survey.getTitle()}|"
                        ></a>
                        <a th:case="'OPEN'"
                           th:href="@{/collect/{id}(id=${survey.getId()})}"
                           th:text="|${survey.getTitle()}|"
                        ></a>
                        <a th:case="*"
                           th:href="@{summary/{id}(id=${survey.getId()})}"
                           th:text="|${survey.getTitle()}|"
                        ></a>
                    </div>
                </td>
                <td>
                    <p th:text="${survey.getState()}"></p>
                </td>
            </tr>
        </table>
    </body>
</html>