<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
    <body>
        <p>Welcome home!</p>

        <form action="#" method="post" th:action="@{/create}">
            <input type="submit" value="Create new survey"/>
        </form>

        <h1>My Surveys</h1>

        <table>
            <tr>
                <td>TITLE</td>
                <td>STATUS</td>
            </tr>
            <tr th:each="survey: ${surveys}">
                <td><a
                        th:href="@{/create/{id}(id=${survey.getId()})}"
                        th:text="|${survey.getTitle()}|"
                ></a></td>
                <td>
                    <p th:text="${survey.getState()}"></p>
                </td>
            </tr>
        </table>
    </body>
</html>