<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Login</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link href="/css/style.css" media="all" rel="stylesheet"
        th:href="@{/css/style.css}" type="text/css">
</head>
  <body>
    <p>Don't have an account? <a href="./banana">Sign up</a></p>

    <h1>Log in</h1>

    <form method="post">
      <p>Email address</p>
      <p><input type="text"/></p>
      <p><input type="submit" value="Next"/></p>
    </form>
  </body>
</html>
