<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${survey.title}"></title>
</head>
<body>
<h2 th:text="${survey.title}"></h2>
<!-- Survey questions -->
<form method="post" th:action="@{/r/{id}/submit(id=${survey.id})}" th:object="${formData}">
    <ol>
        <li th:each="input, inputStat: *{responseInputs}">
            <div th:with="question=${survey.getQuestions().get(__${inputStat.index}__)}">
            <p th:text="${question.getQuestion()}"></p>
            <th:block th:switch="${question.class.simpleName}">
                <div th:case="'CommentQuestion'">
                    <input th:field="*{responseInputs[__${inputStat.index}__].responseText}" type="text">
                </div>
                <div th:case="*">
                    <p th:text="|Unhandled question type: ${question.class.simpleName}|">
                </div>
            </th:block>
        </li>
    </ol>

    <input type="submit" value="Submit response"/>
</form>
</body>
</html>