<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="|${survey.getTitle()} Summary|">Survey</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link href="/css/style.css" media="all" rel="stylesheet"
              th:href="@{/css/style.css}" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="module" src="/js/analytics.js" defer></script>
    </head>
    <body>
        <p><a href="../home">Home</a> | <a href="../login">Logout</a></p>
        <h2 th:text="${survey.getTitle()}"></h2>
        <!-- Survey questions -->
        <ol>
            <li th:each="question, inputStat : ${survey.questions}">
                <p th:text="${question.getQuestion()}"></p>

                <!-- Display responses if the question is a MultipleChoiceQuestion -->
                <div th:if="${#strings.equals(question.class.simpleName, 'MultipleChoiceQuestion')}">
                    
                    <!-- Pie chart for MultipleChoiceQuestion -->
                    <canvas th:id="|pie-chart-${inputStat.index}|" width="200" height="200"></canvas>
                    <script type="module" th:inline="javascript">
                        import { generatePieChart } from '/js/analytics.js';
                        const options = [];
                        /*<![CDATA[*/
                        /*[# th:each="response : ${question.responses}"]*/
                        options.push(/*[[${response.selectedOption}]]*/);
                        /*[/]*/
                        generatePieChart(options, "pie-chart-[[__${inputStat.index}__]]");
                        /*]]>*/
                    </script>
                </div>

                <!-- Display responses if the question is a CommentQuestion -->
                <div th:if="${#strings.equals(question.class.simpleName, 'CommentQuestion')}">
                    <h4>Responses:</h4>
                    <ul>
                        <li th:each="response : ${question.responses}" th:text="${response.text}">
                            <!-- Display each response -->
                        </li>
                    </ul>
                </div>
                <div th:if="${#strings.equals(question.class.simpleName, 'ScaleQuestion')}">
                        <script type="module" th:inline="javascript">
                            import { generateHistogram } from '/js/analytics.js';
                            const values = [];
                            /*<![CDATA[*/
                                /*[# th:each="response : ${question.responses}"]*/
                                    values.push(/*[[${response.selectedValue}]]*/);
                                /*[/]*/
                            generateHistogram(values, "histogram-[[__${inputStat.index}__]]");
                            /*]]>*/

                        </script>

                    <canvas th:id="|histogram-${__${inputStat.index}__}|" width="400" height="200"></canvas>
                </div>
            </li>
        </ol>

        <!-- Close survey -->
        <div th:if="${survey.getState().toString() == 'OPEN'}">
            <form method="post"
                  th:action="@{/summary/{id}/close(id=${survey.getId()})}"
                  th:object="${survey}">
                <p><input type="submit" value="Close Survey"/></p>
            </form>
        </div>
    </body>
</html>
