<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="|${survey.getTitle()} Summary|">Survey</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link href="/css/style.css" media="all" rel="stylesheet"
              th:href="@{/css/style.css}" type="text/css">
    </head>
    <body>
        <p><a href="../home">Home</a></p>
        <!-- Close survey -->
        <div th:if="${survey.getState().toString() == 'OPEN'}">
            <form method="post"
                  th:action="@{/summary/{id}/close(id=${survey.getId()})}"
                  th:object="${survey}">
                <p><input type="submit" value="Close Survey"/></p>
            </form>
        </div>
        <h2 th:text="${survey.getTitle()}"></h2>

        <!-- Survey questions -->
        <ol>
            <li th:each="question : ${survey.questions}">
                <p th:text="${question.getQuestion()}"></p>
            </li>
        </ol>
    </body>
</html>
